@import url('https://fonts.googleapis.com/css?family=Dosis');

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  /*background-color: #E0F2F1;*/
  background-image: url('../../../assets/back1.jpg');
  background-size: cover;
  /* TRANSITION */
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

.row-wrapper {
  width: 100%;
  justify-content: center;
}

.div-wrapper {
  padding: 80px;
}

.texto {
  width: 350px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #ffffff;
  word-wrap: break-word;
  text-align: right;
  line-height: 150%;
  text-shadow: 2px 2px #000000;
}

.form-row { min-height: 70px; }

.info {
  align-self: center;
  align-items: flex-end;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/deep/ .mat-tab-header {
  background-color: #00cc99;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

/deep/ .mat-card {
  background-color:rgba(255,255,255,0.8);
}
/deep/ .mat-tab-label {
  font-size: 20px !important;
  color: #FFFFFF !important;
  opacity: 1 !important;
  font-weight: 300 !important;
}

/deep/ .mat-input-placeholder { color: #000000; }
/deep/ .mat-select-placeholder { color: #000000; }
/deep/ .mat-card-title { font-size: 20px !important; }
/deep/ .mat-card-subtitle { color: #000000; }

.tab-label { background-color: #ffffff !important; }

.actions { display: flex; justify-content: flex-end; }

.full-width { width: 100%; }
