<div class="container">
  <md-grid-list cols="2" rowHeight="100%">
    <md-grid-tile>
      <img src="assets/logo.png" alt="küda" class="logo">
    </md-grid-tile>
    <md-grid-tile>
      <md-tab-group class="form" dynamicHeight>
        <md-tab label="Personas" class="tab-label">
          <form [formGroup]="personForm" (submit)="submitPerson()">
          <md-card>
            <md-card-header>
              <md-card-title>küda</md-card-title>
              <md-card-subtitle>Completa el siguiente formulario y encontraremos lo mejor para ti.</md-card-subtitle>
            </md-card-header>

            <md-card-content>
              <md-grid-list cols="2" rowHeight="70px">
                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Nombres" formControlName="first_name" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Apellidos" formControlName="last_name" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Fecha de Nacimiento" type="date"  style="margin-top:-5px;" formControlName="birthdate" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Teléfono" formControlName="phone" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Email" formControlName="email" type="email" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Dirección" formControlName="address" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Ciudad" formControlName="city" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1" style="margin-top:-5px;">
                    <md-select placeholder="País" class="full-width" formControlName="country" required>
                      <md-option [value]="1">Argentina</md-option>
                      <md-option [value]="2">Bolivia</md-option>
                      <md-option [value]="3">Brasil</md-option>
                      <md-option [value]="4">Chile</md-option>
                      <md-option [value]="5">Colombia</md-option>
                      <md-option [value]="6">Costa Rica</md-option>
                      <md-option [value]="7">Cuba</md-option>
                      <md-option [value]="8">Ecuador</md-option>
                      <md-option [value]="9">El Salvador</md-option>
                      <md-option [value]="10">Guatemala</md-option>
                      <md-option [value]="11">Haití</md-option>
                      <md-option [value]="12">Honduras</md-option>
                      <md-option [value]="13">México</md-option>
                      <md-option [value]="14">Nicaragua</md-option>
                      <md-option [value]="15">Panamá</md-option>
                      <md-option [value]="16">Paraguay</md-option>
                      <md-option [value]="17">Perú</md-option>
                      <md-option [value]="18">República Dominicana</md-option>
                      <md-option [value]="19">Uruguay</md-option>
                      <md-option [value]="20">Venezuela</md-option>
                    </md-select>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-select placeholder="Género" class="full-width" formControlName="gender" required>
                    <md-option [value]="0">Femenino</md-option>
                    <md-option [value]="1">Masculino</md-option>
                  </md-select>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-select placeholder="Cargo" class="full-width" formControlName="position" required>
                    <md-option [value]="1">Administrador</md-option>
                    <md-option [value]="2">Anfitrión</md-option>
                    <md-option [value]="3">Ayudante de Cocina</md-option>
                    <md-option [value]="4">Bar Manager</md-option>
                    <md-option [value]="5">Bartender</md-option>
                    <md-option [value]="6">Cajero</md-option>
                    <md-option [value]="7">Chef</md-option>
                    <md-option [value]="8">Copero</md-option>
                    <md-option [value]="9">Garzón</md-option>
                    <md-option [value]="10">Guardia</md-option>
                    <md-option [value]="11">Personal Aseo</md-option>
                    <md-option [value]="12">Promotor</md-option>
                    <md-option [value]="13">RRPP</md-option>
                    <md-option [value]="14">Sonidista</md-option>
                    <md-option [value]="15">Visualista</md-option>
                  </md-select>
                </md-grid-tile>

                <md-grid-tile [colspan]="2" [rowspan]="1">

                  <label for="input-file">
                  <a md-button>
                      <md-icon>file_upload</md-icon> {{ file_name }}
                  </a>
                  </label>
                  <input type="file" #file (change)="handleInput($event, file)" class="input-file" id="input-file" required/>

                  <md-progress-bar *ngIf="progress > -1"
                      [color]="warn"
                      [mode]="determinate"
                      [value]="progress">
                  </md-progress-bar>

                </md-grid-tile>

              </md-grid-list>
            </md-card-content>
            <md-card-actions class="actions">
              <button md-button color="accent" type="submit" [disabled]="!personForm.valid">Enviar</button>
            </md-card-actions>

          </md-card>
          </form>
        </md-tab>

        <md-tab label="Empresas" class="tab-label">
          <form [formGroup]="businessForm" (submit)="createBusiness()">
          <md-card>
            <md-card-header>
              <md-card-title>küda</md-card-title>
              <md-card-subtitle>Envíanos tus datos y nos pondremos en contacto a la brevedad.</md-card-subtitle>
            </md-card-header>

            <md-card-content>
              <md-grid-list cols="2" rowHeight="70px">
                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Empresa" formControlName="business" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1" style="margin-top:-5px;">
                    <md-select placeholder="Tipo" class="full-width" formControlName="type" required>
                      <md-option [value]="0">Bar</md-option>
                      <md-option [value]="1">Restaurant</md-option>
                      <md-option [value]="2">Pub</md-option>
                      <md-option [value]="3">Discotheque</md-option>
                      <md-option [value]="4">Hostel</md-option>
                      <md-option [value]="5">Hotel</md-option>
                    </md-select>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="2" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Nombre Contacto" formControlName="contact" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Teléfono" formControlName="phone" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Email" formControlName="email" type="email" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1">
                    <md-input-container class="full-width"><input mdInput placeholder="Ciudad" formControlName="city" required></md-input-container>
                  </md-grid-tile>

                  <md-grid-tile [colspan]="1" [rowspan]="1" style="margin-top:-5px;">
                    <md-select placeholder="País" class="full-width" formControlName="country" required>
                      <md-option [value]="1">Argentina</md-option>
                      <md-option [value]="2">Bolivia</md-option>
                      <md-option [value]="3">Brasil</md-option>
                      <md-option [value]="4">Chile</md-option>
                      <md-option [value]="5">Colombia</md-option>
                      <md-option [value]="6">Costa Rica</md-option>
                      <md-option [value]="7">Cuba</md-option>
                      <md-option [value]="8">Ecuador</md-option>
                      <md-option [value]="9">El Salvador</md-option>
                      <md-option [value]="10">Guatemala</md-option>
                      <md-option [value]="11">Haití</md-option>
                      <md-option [value]="12">Honduras</md-option>
                      <md-option [value]="13">México</md-option>
                      <md-option [value]="14">Nicaragua</md-option>
                      <md-option [value]="15">Panamá</md-option>
                      <md-option [value]="16">Paraguay</md-option>
                      <md-option [value]="17">Perú</md-option>
                      <md-option [value]="18">República Dominicana</md-option>
                      <md-option [value]="19">Uruguay</md-option>
                      <md-option [value]="20">Venezuela</md-option>
                    </md-select>
                </md-grid-tile>

              </md-grid-list>

            </md-card-content>
            <md-card-actions class="actions">
              <button md-button color="accent" type="submit" [disabled]="!businessForm.valid">Enviar</button>
            </md-card-actions>

          </md-card>
          </form>
        </md-tab>

      </md-tab-group>
    </md-grid-tile>
  </md-grid-list>




</div>
