<div class="container">
  <md-tab-group class="form">
    <md-tab label="Personas" class="tab-label">
      <md-card>
        <md-card-header>
          <md-card-title>¿Buscas empleo?</md-card-title>
          <md-card-subtitle>Completa el siguiente formulario y encontraremos lo mejor para ti.</md-card-subtitle>
        </md-card-header>
        <md-card-content>

          <form>
            <md-grid-list cols="2" rowHeight="70px">
                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Nombres"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Apellidos"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Fecha de Nacimiento" type="date"  style="margin-top:-5px;"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Teléfono"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Email"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Dirección"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Ciudad"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1" style="margin-top:-5px;">
                  <md-select placeholder="País"  class="full-width">
                    <md-option [value]="1">Argentina</md-option>
                    <md-option [value]="2">Bolivia</md-option>
                    <md-option [value]="3">Brasil</md-option>
                    <md-option [value]="4">Chile</md-option>
                    <md-option [value]="5">Colombia</md-option>
                    <md-option [value]="6">Costa Rica</md-option>
                    <md-option [value]="7">Cuba</md-option>
                    <md-option [value]="8">Ecuador</md-option>
                    <md-option [value]="9">El Salvador</md-option>
                    <md-option [value]="10">Guatemala</md-option>
                    <md-option [value]="11">Haití</md-option>
                    <md-option [value]="12">Honduras</md-option>
                    <md-option [value]="13">México</md-option>
                    <md-option [value]="14">Nicaragua</md-option>
                    <md-option [value]="15">Panamá</md-option>
                    <md-option [value]="16">Paraguay</md-option>
                    <md-option [value]="17">Perú</md-option>
                    <md-option [value]="18">República Dominicana</md-option>
                    <md-option [value]="19">Uruguay</md-option>
                    <md-option [value]="20">Venezuela</md-option>
                  </md-select>
              </md-grid-tile>

              <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-select placeholder="Género" class="full-width">
                  <md-option [value]="0">Femenino</md-option>
                  <md-option [value]="1">Masculino</md-option>
                </md-select>
              </md-grid-tile>

              <md-grid-tile [colspan]="1" [rowspan]="1">
                <md-select placeholder="Cargo" class="full-width">
                  <md-option [value]="0">Garzón</md-option>
                  <md-option [value]="1">Bartender</md-option>
                  <md-option [value]="2">Bar Manager</md-option>
                  <md-option [value]="3">Cajero</md-option>
                  <md-option [value]="4">Copero</md-option>
                  <md-option [value]="5">Guardia</md-option>
                </md-select>
              </md-grid-tile>

            </md-grid-list>
          </form>

        </md-card-content>
        <md-card-actions class="actions">
          <button md-button>Enviar</button>
        </md-card-actions>
      </md-card>
    </md-tab>

    <md-tab label="Empresas" class="tab-label">
      <md-card>
        <md-card-header>
          <md-card-title>küda</md-card-title>
          <md-card-subtitle>Completa el siguiente formulario y encontraremos lo mejor para ti.</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <form>
            <md-grid-list cols="2" rowHeight="70px">
                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Empresa"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1" style="margin-top:-5px;">
                  <md-select placeholder="Tipo" class="full-width">
                    <md-option [value]="0">Bar</md-option>
                    <md-option [value]="1">Restaurant</md-option>
                    <md-option [value]="2">Pub</md-option>
                    <md-option [value]="3">Discotheque</md-option>
                    <md-option [value]="4">Hostel</md-option>
                    <md-option [value]="5">Hotel</md-option>
                  </md-select>
                </md-grid-tile>

                <md-grid-tile [colspan]="2" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Nombre Contacto"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Teléfono"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Email"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1">
                  <md-input-container class="full-width"><input mdInput placeholder="Ciudad"></md-input-container>
                </md-grid-tile>

                <md-grid-tile [colspan]="1" [rowspan]="1" style="margin-top:-5px;">
                  <md-select placeholder="País"  class="full-width">
                    <md-option [value]="1">Argentina</md-option>
                    <md-option [value]="2">Bolivia</md-option>
                    <md-option [value]="3">Brasil</md-option>
                    <md-option [value]="4">Chile</md-option>
                    <md-option [value]="5">Colombia</md-option>
                    <md-option [value]="6">Costa Rica</md-option>
                    <md-option [value]="7">Cuba</md-option>
                    <md-option [value]="8">Ecuador</md-option>
                    <md-option [value]="9">El Salvador</md-option>
                    <md-option [value]="10">Guatemala</md-option>
                    <md-option [value]="11">Haití</md-option>
                    <md-option [value]="12">Honduras</md-option>
                    <md-option [value]="13">México</md-option>
                    <md-option [value]="14">Nicaragua</md-option>
                    <md-option [value]="15">Panamá</md-option>
                    <md-option [value]="16">Paraguay</md-option>
                    <md-option [value]="17">Perú</md-option>
                    <md-option [value]="18">República Dominicana</md-option>
                    <md-option [value]="19">Uruguay</md-option>
                    <md-option [value]="20">Venezuela</md-option>
                  </md-select>
              </md-grid-tile>

            </md-grid-list>
          </form>

        </md-card-content>
        <md-card-actions class="actions">
          <button md-button>Enviar</button>
        </md-card-actions>
      </md-card>
    </md-tab>

  </md-tab-group>


</div>
