.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.form {

  width: 600px;
  margin: 100px;
  align-self: flex-end;

}

.md-tab { background-color: #ffffff !important; }

.actions { display: flex; justify-content: flex-end; }

.full-width {
  width: 100%;
}
