/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/

@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body { margin: 0px; background-color: #ccc; }
.center-x-y {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {  position: fixed; top: 50%; left: 50%; }
